= link_to "list all agent", agents_path
= link_to "list all contact", contacts_path
%h1= @agent.name
- @agent.contacts.each do |contact|
  %p
    = "(default)" if @agent.default_contact_id == contact.id
    = contact.email
    = link_to "set as default", set_default_contact_agent_path(@agent, contact_id: contact.id) 

